
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Page</title>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        <!--Navigator-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{event.name}}</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/event_manage/">Events</a></li>
                        <li><a href="/guest_manage/">Guests</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Sign-->
        <div class="page-header" style="padding-top: 80px;">
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form" method="post" action="/sign_index_action/{{event.id}}/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="phone" type="text" placeholder="Your Phone Number" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign</button>
                    <font color="red">
                        <br>{{hint}}
                        <br>{{guest.realname}}
                        <br>{{guest.phone}}
                    </font>
                </form>
            </div>
        </div>
    </body>

</html>